<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skeleton PHP Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  </head>

  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <!-- Le javascript
    ==================================================
    Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <!--
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-1.9.1.min.js"></script>
    -->
  </body>
</html>
